.calculator{
    height: 100vh;
    width: 100vw;
    border-radius: 5px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 16.67% 16.67% 16.67% 16.67% 16.67%;
}